.App {
  color: #fff;
  background-color: #282c34;
  min-height: 100vh;
}
main {
  padding: 2rem;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: space-around;
}
#score {
  padding-top: 0.5rem;
  font-size: 1.3rem;
}
