.App {
  color: #fff;
  background-color: #282c34;
  min-height: 100vh;
}
main {
  padding: 2rem;
}
.flex-container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
}
